<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Sair</a></li>

{% block content %}
<div class="container">
  <h1>Bikes Disponíveis</h1>
  <form method="get" action="{% url 'available_bikes' %}">
    <div class="form-group">
      <label for="date">Filtrar por Data</label>
      <input type="datetime-local" name="date" id="date" class="form-control" value="{{ date }}">
    </div>
    <button type="submit" class="btn btn-primary">Listar Bikes</button>
  </form>
  <br>
  <ul class="list-group">
    {% for bike in available_bikes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ bike.bike_number }}
      <span class="badge badge-primary badge-pill">{{ bike.id }}</span>
    </li>
    {% empty %}
    <li class="list-group-item">Sem bikes disponíveis</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}